################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Diagrams/~$ArchitectureStylesAndPatterns.drawio.bkp
